<%- include("partials/header") -%>




<h1>home</h1>


 <p> <%= startingcontent  %> </p>


  <% posts.forEach(function(post){ %>

  <h1> <%= post.title %> </h1>
  <p> <%= post.content.substring(0,20) + "....." %> </p>
  <a href="/posts/<%=post.title%>">Read More</a>
<% }) %>

<%- include("partials/footer") -%>
